html {
 --white: #ffffff;
 --black: #111112;
 --primary: #F9DC38;
 --green: #27B03F;
 --border: #F5F5F6;
 --dark-grey: #393A38;
 --red: #EE503E;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Montserrat','Courier New', Courier, monospace, Helvetica, sans-serif;                                     
}

* {
 transition: opacity 500ms ease;
}


*:focus {
 outline: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
 &::-webkit-scrollbar { 
   display: none;  /* Safari and Chrome */
 }
}


p, h1,h2,h3,h4,h5,h6 {
 margin: 0;
 padding: 0;
 letter-spacing: -0.02em;
}

button {
 cursor: pointer;
 border: none;
}

.mainContainer {
 width: calc(100% - 40px);
 margin: 0 auto;
 max-width: 1512px;

 @media (min-width: 920px) {
  width: calc(100% - 80px);
 }
}

.section {
 padding: 0;

 @media (min-width: 920px) {
  padding: 0 2.5rem;
 }
}

.section-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--black);

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 38px;
  }
}